
@media (max-width: 1199.98px) { 
    .main-phone {
        font-size: 16px !important;
    }
    .main-title {
        font-size: 50px;
    }
    .main-description {
        font-size: 20px;
    }
    .main-button {
        font-size: 17px !important; 
    }
    .hero {
        padding-top: 25%;
    }
    .main-phone {
        font-size: 19px;
    }
    .fifth-title::after {
        width: 100%;
    }

 }

@media (max-width: 991.98px) { 

    #header {
        background-image: none !important;
    }
    .hero {
        padding: 30vh ;
    }
    .main-title {
        font-size: 65px;
    }
    .main-description {
        font-size: 24px;
    }
    .main-button {
        font-size: 20px;
    }
    .contact-title {
        font-size: 24px;
    }
    .fourth-title::after {
        width: 100%;
    }
 }

@media (max-width: 767.98px) { 
    .main-link {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .main-link.show {
        display: flex;
        background-color: #fff;
        width: 100%;
        position: absolute;
    }

    .main-link.show li {
        padding: 5px 0;
    }

    .hamburger {
        display: block;
    }
    .main-title {
        font-size: 49px;
    }
    .main-description {
        font-size: 21px;
    }
    .main-button {
        font-size: 18px;
    }
 }

@media (max-width: 575.98px) { 

 }

