body {
    font-family: 'Montserrat', sans-serif;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
    color:#181818;
}

div, p, span, a, input, button {
	box-sizing: border-box;
}

a {
    cursor: pointer;
	text-decoration: none !important;
    background-color: transparent;
}


.header {
    background-color: #f5d10d;
    height: 100vh;
    position: relative;
}

.main-navbar {
    margin-top: 20px;
}

.main-link a {
    font-weight: 400;
    font-size: 18px ;
    color:#181818;
    transition: 0.5s ease-in-out;
}

.main-link a:hover {
    color: #000;
    border-bottom: 1px solid #181818;
}

.main-phone {
    font-weight: bold;
    font-size: 19px;
    color:#181818;
    transition: 0.5s ease-in-out;
}

.main-phone:hover {
    color: #000
}

.hero {
    padding-top: 17%;
}

.main-title {
    font-weight: bold;
    font-size: 64px;
}

.main-description {
    padding-top: 25px;
    padding-bottom: 45px;
    font-size: 24px;
    line-height: 140.7%;
}

.main-button {
    font-weight: 600;
    font-size: 22px;
    color: #181818;
    border: 3px solid #181818;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 68px;
    transition: 0.5s ease-in-out;
}

.main-button:hover {
    background-color: #181818;
    color: #f5d10d;
}

.main-hero img{
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 886px;
}


/* SECTION 2 */

.second-title {
    font-weight: bold;
    font-size: 64px;
    margin-top: 80px;
}

.cards {
    margin: 80px 0;
}

.card-body {
    border: 3px solid #181818;
    border-radius: 5px;
}

.card-title {
    padding-top: 30px;
    color: #181818;
    font-weight: 600;
    font-size: 35px;
}

.card-title::after {
    content: '';
    width: 80px;
    height: 2px;
    background-color: #181818;
    display: block;
    margin: 10px 0;
}

.card-text {
    color: #181818;
    font-size: 18px;
}

.card-link {
    background-color: #181818;
    color: #ffffff;
    padding: 7px 20px ;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.card-link:hover {
    color: #f5d10d;
    
}
/* 
SECTION-3 */


.section-3 {
    background-color: #FFEF9A;
}

.third-title {
    font-weight: bold;
    font-size: 64px;
    padding-top: 80px;
}


.arg-title {
    font-weight: 600;
    font-size: 20px;
    color: #181818;
    padding-top: 15px;
}

.third-arg {
    padding: 60px 0 80px 0;
}

/* SECTION-4 */

.iframe-video {
    border-radius: 5px;
    padding-top: 100px;
}

.fourth-title {
    font-weight: 700;
    font-size: 44px;
    color:#181818;
}

.fourth-title::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: #181818;
    display: block;
    margin: 15px 0;
}

.fourth-text {
    font-size: 21px;
    padding-top: 15px;
}
/* 
SECTION-5 */

